.music {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: left;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  align-items: flex-start;
}

li {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
img {
  margin-right: 10px;
  border-radius: 50%;
}

.arrow-container {
  display: flex;
  align-items: center;
}

.arrow-up {
  color: green;
}

.arrow-down {
  color: red;
}

.rank-container {
  margin-left: 10px;
}

strong {
  font-size: 1.2rem;
  margin: 0; /* Remove default margin on strong */
}

.genre-container {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #bcbcbc;
}

small {
  color: #6b6b6b;
}