/* HotNews.css */

.hotnews-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e4e4e4;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.hotnews-stats-item {
  text-align: center;
}

.hotnews-stats-item a {
  text-decoration: none;
  color: #000000;
}

.hotnews-stats-item h2,
.hotnews-stats-item small,
.hotnews-stats-item span {
  margin: 0;
  color: #babdc0;
}

.hotnews-stats-item small,
.hotnews-stats-item span {
  display: block;
  margin-top: 5px;
}
