/* Number1SongStats.css */

.number1song-stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.number1song-stats-item {
  text-align: center;
}

.number1song-stats-item a {
  text-decoration: none;
  color: #007bff;
}

.number1song-stats-item h2 {
  margin: 0;
}

.number1song-stats-item small {
  display: block;
  color: #6c757d;
}

.number1song-stats-item span {
  display: block;
  color: #6c757d;
  margin-top: 5px;
}
